<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>paipaifan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE7A3A9F1D5C67C000547EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7A3AB81D5C67C100547EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7A3AC31D5C67C100547EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
